extends layout

block content
  table.table
    tbody
      each story in stories
        tr.clickable(data-href=story.url)
          th(scope='row')= story.title
            span= story.author
          th(scope='row')= moment(story.created_at).fromNow()
            a(href='/delete/' + story.story_id)
              i.fa.fa-trash
